<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trunk.support.dao.UserMapper">

    <select id="listByCondition" resultType="com.trunk.support.entity.User">
        select
        username,password
        from sys_user
        <include refid="com.trunk.core.base.template.Base_Select_Condition">
        </include>
        <include refid="com.trunk.core.base.template.Base_Select_Condition_Order">
        </include>
        <include refid="com.trunk.core.base.template.Base_Select_Condition_Page">
        </include>
    </select>

    <select id="findByUsername" resultType="com.trunk.support.entity.User">
        select
        *
        from sys_user
        where username = #{username}
    </select>

    <insert id="insert">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select replace(uuid(), '-', '') as id from dual
        </selectKey>
        insert into sys_user(id,create_time,username,password,icon,type,nickname) values(#{id},
                                                                             #{createTime},
                                                                             #{username},
                                                                             #{password},
                                                                             #{icon},
                                                                             #{type},
                                                                             #{nickname})
    </insert>

    <sql id="Extra_Query">

    </sql>
</mapper>