<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- 扫描的control路径 -->
    <context:component-scan base-package="com.trunk.*.controllers,com.trunk.*.config"/>
    <aop:aspectj-autoproxy proxy-target-class="true" />
    <context:annotation-config/>
    <mvc:default-servlet-handler />

   <bean id="handler" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="customReturnValueHandlers">
            <list>
                <bean class="com.trunk.core.web.JsonReturnHandler"></bean>
            </list>
        </property>
    </bean><!--
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="returnValueHandlers" >
            <list>
                <bean class="com.trunk.core.web.JsonReturnHandler"/>
            </list>
        </property>
    </bean>-->
    <!-- 启动注解驱动的springmvc的功能 -->
    <mvc:annotation-driven>
        <mvc:return-value-handlers>
            <bean class="com.trunk.core.web.JsonReturnHandler"></bean>
        </mvc:return-value-handlers>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.trunk.core.json.JsonObjectMapper"></bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>




    <mvc:resources mapping="/static/js/**" location="/static/js"/>
    <mvc:resources mapping="/static/css/**" location="/static/css"/>
    <mvc:resources mapping="/static/images/**" location="/static/images"/>


    <!-- ??? -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>

    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>

    <!-- 处理返回值为json的数据
    <bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
        <property name="objectMapper" value="com.project.core.json.JsonObjectMapper"/>
    </bean>-->

    <!--<bean class="springfox.documentation.swagger2.configuration.Swagger2DocumentationConfiguration" id="swagger2Config"/>-->

    <!-- 内部资源视图处理器，用户返回值对应的页面地址及文件类型 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".html"/>
    </bean>


    <bean id="swaggerConfig" class="com.trunk.core.web.SwaggerApiConfig"/>
</beans>